.pagination-wrapper {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}


.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.pagination button {
  min-width: 34px;
  height: 34px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #ddd;
  border-radius: 6px;

  background: white;

  cursor: pointer;
}

.pagination button.active {
  background: #2196f3;
  color: white;
  border-color: #2196f3;
}

.pagination-arrow {
  margin: 0 8px;
}

.pagination button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.pagination .ellipsis {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
}
